/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.c_padding{
		padding: 50px 0 70px;
	}
	/*Header start*/
	header{
		padding: 10px 0;
	}
	.menu ul li a {
	    padding: 10px 0 0 !important;
	    font-size: 18px;
	    text-align: right;
	}
	/*Header end*/
	/*Header end*/

	/*Slider start*/
	.slider{
		padding: 0 0 60px;
	}
	.c_ind{
		bottom: -22%;
	}
	.c_ind [data-bs-target]{
		width: 13px;
		height: 13px;
	}
	.s_text{
		margin-top: 0;
	}
	.s_text h1{
		font-size: 25px;
	}
	.s_text h2{
		margin: 10px 0;
		font-size: 18px;
	}
	.s_text p{
		margin-bottom: 20px;
	}
	.s_icon ul li{
		margin-right: 15px !important;
	}
	.s_icon ul li i{	
		font-size: 35px;
	}
	/*Slider end*/

	/*Feature start*/
	.feature{}
	.c_h1{
		margin-bottom: 10px;
		font-size: 25px;
	}
	.c_p{
		font-size: 17px;
		line-height: 25px;
	}
	.f_content{
		margin-top: 30px;
	}
	
	.f_icon i{
		margin-top: 0;
		font-size: 35px;
	}
	.f_text{
		text-align: center;
	}
	.f_text h2{
		margin: 10px 0 6px;
		font-size: 18px;
	}
	.f_text p{
		letter-spacing: 0;
	}
	/*Feature end*/

	/*Contact start*/
	.c_form{
		margin: 40px 0;
	}
	.c_input{
		padding: 10px;
		height: 45px;
	}
	.c_submit{
		height: 45px;
	}
	.c_icon ul li{
		margin-right: 20px !important;
	}
	.c_icon ul li i {
	    font-size: 35px;
	}
	/*Contact end*/

	/*Footer start*/
	footer{
		padding-bottom: 70px;
	}
	.f_one{
		text-align: center;
	}
	.f_all{
		margin-top: 40px;
		text-align: center;
	}
	.developer a {
		color: #fcdb00;
	}
	/*Footer end*/
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	.c_padding{
		padding: 50px 0 70px;
	}
	/*Header start*/
	.menu ul li a {
	    padding: 12px 0 0 !important;
	    font-size: 20px;
	    text-align: right;
	}
	/*Header end*/

	/*Slider start*/
	.slider{
		padding: 0 0 60px;
	}
	.c_ind{
		bottom: -27%;
	}
	.c_ind [data-bs-target]{
		width: 13px;
		height: 13px;
	}
	.s_text{
		margin-top: 0;
	}
	.s_text h1{
		font-size: 25px;
	}
	.s_text h2{
		margin: 10px 0;
		font-size: 18px;
	}
	.s_text p{
		margin-bottom: 20px;
	}
	.s_icon ul li{
		margin-right: 20px !important;
	}
	.s_icon ul li i{	
		font-size: 35px;
	}
	/*Slider end*/

	/*Feature start*/
	.feature{}
	.c_h1{
		margin-bottom: 10px;
		font-size: 25px;
	}
	.c_p{
		font-size: 17px;
		line-height: 25px;
	}
	.f_content{
		margin-top: 30px;
	}
	
	.f_icon i{
		margin-top: 0;
		font-size: 35px;
	}
	.f_text{
		text-align: center;
	}
	.f_text h2{
		margin: 10px 0 6px;
		font-size: 18px;
	}
	.f_text p{
		letter-spacing: 0;
	}
	/*Feature end*/

	/*Contact start*/
	.c_form{
		margin: 35px 0 40px;
	}
	.c_input{
		padding: 10px;
		height: 45px;
	}
	.c_submit{
		height: 45px;
	}
	.c_icon ul li{
		margin-right: 25px !important;
	}
	.c_icon ul li i {
	    font-size: 40px;
	}
	/*Contact end*/

	/*Footer start*/
	footer{
		padding-bottom: 70px;
	}
	.f_one{
		margin-bottom: 40px;
		text-align: center;
	}
	.f_all{
		text-align: center;
	}
	.developer a {
		color: #fcdb00;
	}
	/*Footer end*/
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	.c_padding{
		padding: 80px 0 100px;
	}
	/*Header start*/
	.menu ul li a {
	    padding: 12px 0 0 !important;
	    text-align: right;
	}
	/*Header end*/

	/*Slider start*/
	.c_ind{
		bottom: -20%;
	}
	/*Slider end*/

	/*Feature start*/
	.feature{}
	.f_content{
		margin-top: 50px;
	}
	/*Feature end*/

	/*Contact start*/
	.c_form{
		margin: 65px 0 70px;
	}
	/*Contact end*/

	/*Footer start*/
	footer{
		padding-bottom: 100px;
	}
	/*Footer end*/
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

/*Extra large devices (desktops, 992px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) { ... }

/*Extra extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1400px) {
	/*Slider start*/
	.menu ul li a {
	    padding: 0 55px !important;
	}
	/*Slider end*/
}